<div class="navbar">
  <div>
    <%= link_to books_path, class: "logo-navbar" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <div class="menu-navbar">
    <% if user_signed_in? %>
      <%= image_tag "logo.png", class: "avatar dropdown-toggle icon-user", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Liste de mes livres", books_path, class: "dropdown-item" %>
        <%= link_to "Mes avis", reviews_path, class: "dropdown-item" %>
        <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
    <% else %>
      <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
